# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related (Android Studio)
*.iml
*.ipr
*.iws
.idea/

# VS Code related (Keep this if you want to exclude VS Code settings)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/  #  This ensures the build folder is ignored

# Android Build Folders
android/app/debug/
android/app/profile/
android/app/release/

# iOS Build Folders
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Generated.xcconfig

# Xcode related
xcuserdata/
*.xcworkspace/
*.xcuserstate
DerivedData/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exclude .env files if you use API keys
.env
.env.*
